.intro {
  position: relative;
}

.intro__img {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
.section__subtitle--intro {
  display: inline-block;
  background-color: $clr-accent;
}
section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: $fw-reg;

  .section__title--intro strong {
    display: block;
  }

  .section__subtitle {
    margin: 0;
    font-size: $fs-h3;
  }

  .section__subtitle--intro,
  .section__subtitle--about {
    background: $clr-accent;
    font-family: $ff-primary;
    margin-bottom: 1em;
    padding: 9em;
  }
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 350px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: 0.5em;
    width: calc(100% + 1.5em);
  }
}
