.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0 3em 0 2em;
  background-color: $clr-green-light;
  position: fixed;
  top: 0;
  font-weight: 800;
  color: $clr-dark;
  text-decoration: none;
  // text-transform: uppercase;
}
.nav__list {
  display: flex;
  padding: 0 2em;
  gap: 20px;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  font-weight: $fw-bold;
  color: $clr-dark;
}
a {
  text-decoration: none;
}
a:link {
  color: rgb(49, 80, 104);
}

a:visited {
  color: rgb(160, 144, 160);
}

a:hover {
  color: #2c8c94;
}

a:active {
  color: rgb(119, 176, 242);
}
