.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0 3em 0 2em;
  background-color: #b3c4c6;
  position: sticky;
  top: 0;
  font-weight: 800;
  color: $clr-dark;
  text-decoration: none;
  // opacity: 3;
  // text-transform: uppercase;
}
.nav__list {
  display: flex;
  padding: 0 1em;
  gap: 20px;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  font-weight: 900;
  color: $clr-light;
}
a {
  text-decoration: none;
  color: $clr-light;
}
a:link {
  color: $clr-light;
  // text-decoration: underline;
}

a:visited {
  color: $clr-light;
  text-decoration: dotted;
}

// a:hover {
//   color: #428e98;
// }

// a:active {
//   color: rgb(143, 140, 140);
// }
