h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: $fs-h1;
}
h2 {
  font-size: $fs-h2;
}
h3 {
  font-size: $fs-h3;
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: $fw-reg;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: $fs-h3;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: $clr-accent;
  font-family: $ff-secondary;
  margin-bottom: 1em;

  padding: 0.25em 1em;
}
